body {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(45deg,#000000, #141414, #000000);
    background-size: 200% 200%;
    animation: backgroundAnimation 30s ease infinite;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 100vh;
    gap: 50px;
    overflow: hidden;
    user-select: none;
}

@keyframes backgroundAnimation {
   0% {
      background-position: 0% 50%;
   }
   50% {
      background-position: 100% 50%;
   }
   100% {
      background-position: 0% 50%;
   }
}

main {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

h1 {
   font-size: 72px;
   font-weight: 500px;
   line-height: 0;
}

.container {
   position: relative;
   display: flex;
   gap: 15px;
   align-items: center;
   justify-content: center;
}

#input {
   background-color: rgba(26,26,26,0.5);
   color: #ffffff;
   padding: 20px 50px 20px 75px;
   border: 1px solid #2a2a2a;
   border-radius: 16px;
   min-width: 550px;
   font-size: 18px;
   transition: all 0.2s ease;
   box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

#input:hover {
   background-color: rgba(30,30,30,0.5);
   border: 1px solid #2e2e2e;
}

#input:focus {
   outline: none;
   border: 1px solid #444;
   background-color: rgba(32,32,32,0.5);
   box-shadow: 0 0 0 4px rgba(255,255,255,0.03);
}

#input::placeholder {
    color: #ffffff;
    user-select: none;
}

#engine {
   background: none;
   max-width: 15px;
   width: 15px;
   padding: 10px 18px;
   position: absolute;
   left: 8px;
   pointer-events: none;
   border-radius: 10px;
   opacity: 0.7;
   transition: all 0.3s ease;

   display: flex;
   justify-content: center;
}

#engine-icon {
   width: 30px;
   height: 30px;
}

#output {
   display: none;
   padding: 20px;
   border-radius: 20px;
   width: 300px;
   background-color: #222222;
}

#engine.google  { background-color: #4285F4; }
#engine.youtube { background-color: #FF0000; }
#engine.chat    { background-color: #10A37F; }